h1{
    margin: 0 auto;
    margin-top:30px;
    margin-bottom: 20px;
    border-left: 4px solid red;
    background-color: chartreuse;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 15px;
    font-size: 20px;
}

.confirm{
    margin :0 auto;
    background-color: aqua;
    border: 3px solid red;
    border-radius: 10px;
    width: 450px;
    padding: 20px 20px 60px 20px;
}

from {
        float: left;
        margin-right: 15px;
}


.button1{
    border:1px solid lightgray;
    padding: 4px 10px;
    color: white;
    background-color: blueviolet;
    border-radius: 5px;
    border-bottom: solid 2px gray;
    
}

.button2{
    border: 1px solid lightgray;
    padding: 4px 10px;
    color: white;
    background-color:darkcyan;
    border-radius: 5px;
    border-bottom: solid 2px red;
}